
<!DOCTYPE html>

<html>
	<head>
		<title> Royal Sanitaryware and Building Store</title>
		<link rel="icon" type="image/png" href="/static/images/title3.png">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<script type="text/javascript" src="/static/js/html5shiv.min.js"></script>
		<script type="text/javascript" src="/static/js/respond.min.js"></script>

    <style type="text/css">
        a:active {
            color: black;
        }
        a:hover{
            background-color: yellow;
            font-size:16px;

        }
    </style>
	</head>
	<body>
		<header style="width:1060px;border:2px solid red;margin:auto 135px;">
		<div style="background-image:url('/static/images/bcg2.jpg');background-color:#585837;margin-bottom:-5px;box-shadow:-1px 9px 18px 3px #36463d;width=200px;height=100px;" class="container-fluid">
			<img src="/static/images/a2.jpg" class="img-rounded" height="130px" width="175px" style="float:left;display:inline;"/>
			<div style="padding-left:100px;display:inline;font-style:bold;color:;">
				<strong><h2 style="letter-spacing: 3px;font:sans-serif 20px bold;text-shadow: 3px 2px gray;">&nbsp;Royal Sanitary Ware and Building Material Store</h2></strong>
			</div>

		</div>
		<!--*******navbar********-->
	</header>


		<div class="container" id="bcg" style="text-align:center;width:500px;margin-top:25px;border:dashed gray 2px;padding-bottom:20px;">
			  <h3><strong><u>Invalid Operation</u></strong></h3>
        <ul>
          <li align='left'><h5>Either you are not logged in .</h5></li>
          <li align='left'><h5>You tried to access invalid page .</h5></li>
        </ul>
        <a href="/login" style="width:100%;text-align:center;color:blue;text-decoration:underline;"> Please click here to login...</a>
		</div>
		<!--*********script************-->
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

	</body>
</html>
